/* all app scss styles here */
/*
 * DEV
.row, .sidebars{
border:1px solid blue;
}*/


%white-text, .white-text{
    color: $white;
    a,a:hover,a:focus,p,li,h1,h2,h3,h4,h5,h6{
        color:$white;
    }
}
[alt="How StickUp Works"]{
    display:none;
}
$hipster-thickness: 2px;
%classy-button{
    @include button($padding:$button-lrg);
    @include single-transition($speed:100ms);
    &.expand{
        width:100%;
    }
    background:none;
    border:$hipster-thickness solid transparent;
    padding:$button-sml;
    &:hover,&:focus{
        background:none;
    }
}
@mixin hipster-button($color:$secondary-color){
  @extend %classy-button;
  border-color:$color;
  color:$color;
  &:hover,&:focus{
    color:$color;
  }
}
.hipster-button{
    @include hipster-button($primary-color);
}
$standard-distance: rem-calc(32);
.sticky-menu{
    overflow:auto;
}
.placeholder{
    height:120vh;
}
.sidebars{
    text-align:center;
    .sidebar{
        position:relative;
    }
    .alert{
        border:2px solid $primary-color;
        color:$primary-color;
        position:absolute;
        bottom:0;
        left:0;
        width:100%;
    }
}
pre{
    margin-bottom:$paragraph-margin-bottom;
    background:$snow;
    padding: $column-gutter/8 $column-gutter/2;
    code{
        line-height:1.5;
        display:inline-block;
        border:none;
        background:none;
    }
}
.sidebar{
    min-height:120vh;
}
.sidebar-1{
    transition: all 0.3s ease;
    transition-property: background, border;
    min-height:60vh;
/*    background:rgba(242,242,242,.2);*/
    /*border-color:transparent;*/
    h3{
        transition: all 0.2s ease;
    }
    &.isStuck{
        h3,h3 *{
            color:$white;
        }
        background:#888;
        border-color:#888;
    }
}
header{
    background:$primary-color;
    @extend %white-text; 
    padding: $standard-distance*2 0;
    h2{
        font-weight:normal;
        margin-bottom:$paragraph-margin-bottom;
    }
    a.button{
        @include hipster-button($white);
    }
}